@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
   :root {
      color-scheme: dark;
   }
   :root,
   body {
      @apply overflow-x-hidden;
   }
   ::-webkit-scrollbar {
      width: 10px;
   }

   /* Track */
   ::-webkit-scrollbar-track {
      @apply bg-zinc-800;
   }

   /* Handle */
   ::-webkit-scrollbar-thumb {
      @apply bg-zinc-400;
      border-radius: 5px;
   }

   .navbar-list {
      @apply w-full text-center py-2 px-4 ring-2 ring-emerald-600 rounded-md inline-block hover:ring-2 hover:text-zinc-300 hover:ring-zinc-300 transition;
   }
   .pagination-list {
      @apply py-1 rounded-sm px-3 bg-sky-800 hover:bg-sky-900 hover:text-zinc-400 transition;
   }
   .streaming-description {
      @apply ring-1 text-[.9rem] ring-zinc-300 hover:ring-zinc-400 transition py-1 px-3 hover:text-zinc-400 rounded-full;
   }

   .loader {
      transform: rotateZ(45deg);
      perspective: 1000px;
      border-radius: 50%;
      width: 48px;
      height: 48px;
      color: #fff;
   }
   .loader:before,
   .loader:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
   }
   .loader:after {
      color: #ff3d00;
      transform: rotateY(70deg);
      animation-delay: 0.4s;
   }

   @keyframes rotate {
      0% {
         transform: translate(-50%, -50%) rotateZ(0deg);
      }
      100% {
         transform: translate(-50%, -50%) rotateZ(360deg);
      }
   }

   @keyframes rotateccw {
      0% {
         transform: translate(-50%, -50%) rotate(0deg);
      }
      100% {
         transform: translate(-50%, -50%) rotate(-360deg);
      }
   }

   @keyframes spin {
      0%,
      100% {
         box-shadow: 0.2em 0px 0 0px currentcolor;
      }
      12% {
         box-shadow: 0.2em 0.2em 0 0 currentcolor;
      }
      25% {
         box-shadow: 0 0.2em 0 0px currentcolor;
      }
      37% {
         box-shadow: -0.2em 0.2em 0 0 currentcolor;
      }
      50% {
         box-shadow: -0.2em 0 0 0 currentcolor;
      }
      62% {
         box-shadow: -0.2em -0.2em 0 0 currentcolor;
      }
      75% {
         box-shadow: 0px -0.2em 0 0 currentcolor;
      }
      87% {
         box-shadow: 0.2em -0.2em 0 0 currentcolor;
      }
   }
}
